import 'valdi_tsx/src/JSX';
import { View } from 'valdi_tsx/src/NativeTemplateElements';

export interface CircleViewModel extends View {
  color: string;
  thickness: number;
}

export function Circle(viewModel: CircleViewModel) {
  <custom-view
    iosClass={'SCCCircleView'}
    androidClass={'com.snap.modules.{{MODULE_NAME}}.CircleView'}
    {...viewModel}
  />;
}
