{
  "name": "${name}",
  "version": "${version}",
  "main": "index.js",
  "type": "commonjs",
  "dependencies": {
    "long": "4.0.0",
    "path-browserify": "^1.0.1",
    "process": "^0.11.10",
    "protobufjs": "^7.5.3"
  },
  "imports": {
    "#root/*": "./${files}/*"
  },
  "exports": {
    "./src/*": "./${files}/src/*",
    "./native/*": "./${files}/native/*"
  }
}